<p>LOVE MUSIC</p>
<% @albums.each do |album| %>
  <p>Title: <%= album.title %></p>
  <p>Quantity: <%= album.quantity %></p>
  <p>Artist: <%= Artist.find( album.artist_id ).name%> </p>
  <p>Stock: <%= album.stock_level_checker%> </p>
  <p><a href="/albums/<%=  %>">Additional Information</a></p>
  <hr />
  <br>
  <% end %>
