

<head>


  <h1><h1>
<style>



table, th, td {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 640px;
    border-collapse: collapse;
    collapse; border-spacing: 0;
}
th, td {
  border: 1px solid transparent;
  height: 30px;
  transition: all 0.3s;
  font-size: 10px;

}

th {
    background: #DFDFDF;
    font-weight: bold;
}

td {
    background: #FAFAFA;
    text-align: center;
}
{}tr:nth-child(even) td { background: #F1F1F1;
tr:nth-child(odd) td { background: #FEFEFE; }
}

tr:nth-child(odd) td { background: #FEFEFE;

}tr td:hover { background: #ffa500; color: white; }

</style>
</head>
<body>

<table align="center">
    <thead>
      <tr>
        <th>Artist</th>
        <th>Title</th>
        <th>Genre</th>
        <th>Buy Price</th>
        <th>Sell Price</th>
        <th>Quantity</th>
        <th>Stock</th>
        <th>Additional Information</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <% @albums.each do |album| %>
        <td><%=Artist.find( album.artist_id ).name%></td>
        <td><%= album.title %></td>
        <td><%= album.genre %></td>
        <td><%= album.buy_price %></td>
        <td><%= album.sell_price %></td>
        <td><%= album.quantity %></td>
        <td><%= album.stock_level_checker %> </td>
        <td><p><a href="/albums/<%= album.id %>"><img src="070242-firey-orange-jelly-icon-alphanumeric-information3-sc49.png"></a></p> </td>
      </tr>
       <% end %>
  </table>
